<p>Line Chart Demo</p>


<p>Pie Chart demo</p>
 <%=@users%>

<!DOCTYPE html>
<html lang="en" ng-app ng-controller="MainCtrl">
<head>
    <meta charset="utf-8">
    <title>Learning AngularJS</title>
</head>
<body>
	<!-- <label for="name">Please enter your name</label>
	<input type="text" ng-model="password" />
    <p>Your name is: {{ password }}</p>
    <input type="number" ng-model="num1" />
    <input type="number" ng-model="num2" />
    <p>The sum is: {{ num1 + num2 }}</p> -->
    <h1>The People App</h1>
    <h4>View People</h4>
    Search! <input type="text" ng-model="search" />
    <ul>
        <li ng-repeat="p in people | filter:search">
            {{ p.name }} from {{ p.city }}, {{ p.state }}
        </li>
    </ul>
    
     <h4>Add People</h4>
    Enter the person's name: <input type="text" required="true" ng-model="person_name" />
    <br />
    <br />
    Enter the person's city: <input type="text" ng-model="person_city" />
    <br />
    <br />
    Enter the person's state: <input type="text" ng-model="person_state" />
    <br />
    <br />
    <button ng-click="addPerson()">Add the Person!</button>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</body>

<script type="text/javascript">
	function MainCtrl ($scope) {
  $scope.people = [
    {
      name: 'John Doe',
      city: 'New York City',
      state: 'New York'
    },
    {
      name: 'John Smith',
      city: 'Oklahoma City',
      state: 'Oklahoma'
    },
    {
      name: 'Henry Black',
      city: 'Topeka',
      state: 'Kansas'
    }
  ];
  $scope.addPerson = function () {
    $scope.people.push({
        name: $scope.person_name,
        city: $scope.person_city,
        state: $scope.person_state
    });
    
  }
}

</script>
</html>
